 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
     /* Section1 start */
 .wix {
   font-size: 40px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top: 5px;
 }

 .wix:hover {
   cursor: pointer;
 }

 .div1{
   display: flex;
   align-items: center;
   width: 100px;
   height: 70px;
   background-size: cover;
 }

 .childdiv1 {
   position: fixed;
   top: 0;
   left: 5%;
   
 }

 .childdiv2 {
   position: fixed;
   left: 20%;
   top: 10px;
   cursor: pointer;
 }

 .childdiv3 {
   font-size: 20px;
   position: fixed;
   top: 20px;
   left: 30%;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .childdiv4 {
   position: fixed;
   top: 20px;
   left: 70%;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
 }

 #a1 {
   color: black;
 }

 #a1:hover {
   color: blue;
   cursor: pointer;
 }

 .childdiv5 {
   position: fixed;
   top: 10px;
   left: 80%;
 }

 .button1 {
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
   color: aliceblue;
   background-color: black;
   font-size: 18px;
   border-radius: 5px;
 }

 .button1:hover {
   background-color: rgb(57, 57, 210);
   cursor: pointer;
 }

 .childdiv6 {
   position: fixed;
   right: 2%;
   bottom: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   border-radius: 50%;
   height: 40px;
   width: 40px;
   font-size: 20px;
 }

 #instagram {
   background-color: aliceblue;
   border-radius: 50%;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 15px;
   padding-right: 30px;
   align-items: center;
   color: #ae9a64;
 }

 .childdiv7 {
   position: fixed;
   right: 2%;
   bottom: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   border-radius: 50%;
   height: 40px;
   width: 40px;
   font-size: 20px;
 }

 #twitter {
   background-color: aliceblue;
    border-radius: 50%;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 15px;
   padding-right: 30px;
   color: #ae9a64;
   align-items: center;
 }
 #twitter:hover{
 cursor: pointer;
 }
#instagram:hover{
 cursor: pointer;
}
 .childdiv8 {
   position: fixed;
   right: 1%;
   top: 88%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   height: 60px;
   width: 60px;
   font-size: 30px;
   color: aliceblue;
   background-color: #ae9a64;
 }

 #message {
   color: aliceblue;
 }
 #message:hover{
   cursor: pointer;
 }
 .nav {
   display: flex;
   position: fixed;
   top: 70px;
   gap: 50px;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 70px;
   background-color: #ae9a64;
 }

 .link {
   text-decoration: none;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
   'Lucida Sans', Arial, sans-serif;
   font-size: 20px;
   color: black;
   font-weight: bold;
 }

 .a7 {
   padding-left: 50px;
 }
 .link:hover{
  cursor: pointer;
  color: aliceblue;
 }
 .para2{
  margin-top: 70px;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.7);
  color: #ae9a64;
  font-style: italic;
 }
 .div3{
  background-image: url(images/meat\ image.jpeg);
  height: 600px;
  width: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
 }
 .childdiv16{
  height: 600px;
  width: auto;
  background-color:rgb(10, 10, 10,0.5);
 }
 .head2{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-top: 200px;
  font-size: 200px;
  color: aliceblue;
  letter-spacing: -6px;
  font-weight: lighter;
 }
 .head3{
  text-align: center;
  color: aliceblue;
  margin-left: 400px;
  font-size: 40px;
  line-height: 0;
  word-spacing: 2px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   letter-spacing: 5px;
 }

 .menu{
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ae9a64;
  padding-bottom: 8px;
   line-height: 1;
   margin-top: 10px;
  padding-top:5px;
  color: aliceblue;
  font-size: 20px;
   display: block;
   margin-left: 550px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border: 1px solid #ae9a64;
   border-radius: 2px;
 }
 .menu:hover{
 background-color: rgba(25, 24, 24, 0.6);
 cursor: pointer;
 }
  .nav1 {
  width: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background-color: aliceblue;
  height: 100px;
}
   /* section1 end */
   /* Section2 Start */
.div4{
  background-image: url(images/table.jpeg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  height: 700px;
  width: 100%;
  display: flex;
   background-size: cover;
}
 @font-face {
  font-family: "fonts/Bungee-Regular.ttf";
  src: url(fonts/Bungee-Regular.ttf);
 }
 .heading{
  color: #ae9a64;
  margin-left: 300px;
  font-size: 50px;
  font-family:"fonts/Bungee-Regular.ttf";
  letter-spacing: 7px;
  font-weight: lighter;
  line-height: 5;
 }
 .childdiv17{
  display: flex;
  font-size: 12px;
  width: 100%;
  height: 30px;
  text-decoration: solid #ae9a64;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .div4{
   justify-content: flex-start;
 }
 .head4, .head5, .head6{
  text-decoration: underline double #ae9a64;
 }
  .head4{
    margin-left: 170px;
    margin-right: 270px;
    text-align: center;
  }
  .head5{
      margin-left: 170px;
    margin-right: 270px;
  }
 
 .childdiv17{
  width: 80%;
  height: 50px;
  place-items: center;
    grid-area: 5 / 1 / 6 / 2;
    justify-self: start;    
    align-self: start;
 }
 .head4{
     color: aliceblue;
   text-align: center; 
    padding-left: 0%;
 }
 .head5{
    color: aliceblue;
  text-align: center;
  margin-left: 50px;   
 }
 .head6{
   color: aliceblue;
  text-align: center;
 }
 .childdiv18{
   display: flex;
 }
 .head7,.head9, .head8{
  color: #ae9a64;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
  font-weight: bolder;
 }
 .head9{
  padding-top: 40px;
  letter-spacing: 5px;
  padding-right: 50px;
 }
 .para3{
  color: #ae9a64;
  margin-left: 20px;
  text-align: center;
  margin-top: 30px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .para4 {
  color: #ae9a64;
  text-align: center;
  margin-top: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 .para5{
  color: #ae9a64;
  text-align: center;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px;
 }
 .div5{
  display: flex;
 }
 .childdiv18{
   display: flex;
  flex-direction: column;    
  align-items: center;     
  text-align: center;   
  padding-left: 50px; 
  padding-right: 50px;
  padding-top: 40px;
 }
 .childdiv19{
   padding-left: 50px;
  padding-top: 40px;
 }
 .childdiv20{
   padding-left: 70px; 
  padding-right: 100px;
 }
 .childdiv17{
  padding-right: 100px;
 }
 .head4{
 place-items: center;
 }
  /* Section2 end */
   /* Section3 Start */
   .div6{
    background-image: url(images/spoon.jpeg);
    background-attachment: fixed;
    height: 700px;
    width: 100%;
     background-size: cover;
   }
   .head10{
    text-align: center;
    color: aliceblue;
    padding-top: 200px;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 5px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
 .para6{
  color: aliceblue;
  margin-top: 50px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
   'Trebuchet MS', sans-serif;
   font-size: 18px;
  }
  .form1{
    margin-top: 100px;
  }
  .childdiv21{
      display: flex;
  }
  label{
  font-size: 20px;
  color: aliceblue;
  }
  input{
   padding-left: 10px;
   padding-top: 8px;
   padding-bottom: 8px;
   margin-left: 20px;
   margin-top: 10px;
  }
 #time{
  padding-right: 200px;
 }
 #date{
  padding-right: 200px;
 }
 #partysize{
  padding-right: 150px;
 }
 #ps{
  margin-left: 30px;
 }
 #dt{
    margin-left: 270px;
 }
 #tm{
   margin-left: 300px;
 }
 .btn2{
  background-color: rgb(6, 6, 6, 0.5);
  color: aliceblue;
  border: 1px solid black;
  margin-left: 8px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
 }
 .btn2:hover{
  background-color: rgb(15, 14, 14,0.7);
  cursor: pointer;
 }
   /* Section3 End */
   /* Section4 Start */
   .div7{
    background-image: url(images/cow\ image.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
     height: 700px;
    width: 100%;
    background-size: cover;
   }
   .head11{
  text-align: center;
  font-size: 50px;
  color: #ae9a64;
  padding-top: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  letter-spacing: 5px;
  padding-left: 300px;
    padding-right: 300px;
    text-transform: capitalize;
   }
   
   .para7{
    color: #ae9a64;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 70px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 30px;
    font-size: 20px;
    text-shadow: 0px 0px 5px #ae9a64;
   }
    /* Section4 end */
    /* Section5 start */
   .div8{
     background-image: url(images/glass.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
     height: 700px;
    width: 100%;
    background-size: cover;
    margin-bottom: 100px;
   }
   .head12{
  text-align: center;
  font-size: 50px;
  color: aliceblue;
  padding-top: 200px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  letter-spacing: 5px;
  padding-left: 300px;
  padding-right: 300px;
  text-transform: capitalize;
   }
   .para8{
      color: rgb(232, 241, 249);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 70px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 30px;
    font-size: 20px;
    text-shadow: 0px 0px 10px black;
   }
   /* Section 5 End  */
  /* Section 6 Start  */
  #div9{
    background-color: rgba(14, 13, 13, 0.7);
    height: 500px;
    width: 100%;
    margin-top: 150px;
    background-size: cover;
  }
  .childdiv23{
    display: flex;
  } 
  .childdiv24{
    display: flex;
  }
  @font-face {
    font-family: "fonts/Boldonse-Regular.ttf";
    src: url(fonts/Boldonse-Regular.ttf);
  }
  .head13{
    text-align: center;
    color: #ae9a64;
    font-size: 30px;
    letter-spacing: 4px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: lighter;
     font-family: "fonts/Boldonse-Regular.ttf";
  }
  .img1{
     height: 200px;
    width: 300px;
  }
  .img2{
    height: 200px;
    width: 300px;
  }
  .img3{
     height: 200px;
    width: 300px;
  }
  .img4{
    height: 200px;
    width: 300px;
  }
  .img5{
     height: 200px;
    width: 300px;
  }
  .img6{
     height: 200px;
    width: 300px;
  }
  .img7{
     height: 200px;
    width: 300px;
  }
  .img8{
   height: 200px;
    width: 300px;
  }
  /* Section 6 end  */
 /* section 7 start  */
 #div10{
  background-image: url(images/bgimg3.jpg);
  background-size: cover;
  background-repeat: repeat;
    height: 500px;
     width: 100%;
 }
 .childdiv24{
  background-color: rgb(13, 13, 13 ,0.4);
   height: 500px;
     width: 100%;
 }
 .head14{
  color: #ae9a64;
  text-align: center;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 3px;
   padding-top: 100px;
   padding-bottom: 40px;
   padding-left: 300px;
 }
 .eml{
 margin-left: 300px;
 font-size: 16px;
 }
 #email{
 margin-left: 300px;
 border: 2px solid #ae9a64;
  border-top: none;
 border-left: none;
 border-right: none;
 margin-top: 20px;
 background-color: rgb(13, 13, 13 ,0.1);
 padding-left: 200px;
 padding-right: 200px;
 }
 #check{
  margin-left: 300px;
  margin-top: 50px;
  appearance: none;
  width: 20px;
    border: 2px solid #ae9a64;
    background-color: rgb(13, 13, 13 ,0.1);
 }
 #subscribe{
   margin-left: 300px;
  margin-top: 15px;
  padding-left: 190px;
 padding-right: 190px;
 padding-top: 5px;
 padding-bottom: 5px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-size: 18px;
 font-weight: bolder;
 letter-spacing: 3px;
 background-color: #ae9a64;
 color: aliceblue;
 }
 #subscribe:hover{
  background-color: rgb(13, 13, 13 ,0.5);
 }
 /* Section 7 end  */
/* section 8 start  */
 #div11{
    height: 500px;
     width: 100%;
     background-color: rgb(13 ,13, 13, 0.9);
     background-size: cover;
 }
 #head15{
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 3px;

 }
 #paragraph{
  color: #ae9a64;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
 }
 